$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

body {
  color: white;
  padding: 0px;
  background-image: url("../images/butterfly-background.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
}

h1 {
  font-family: Verdana
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
